---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Tech">
  <div class="flex flex-col gap-2">
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
        <li>GraphQL</li>
        <li>Supabase</li>
        <li>Mongo</li>
        <li>SQL</li>
        <li>Nodejs</li>
      </ul>
    
  </div>
</Card>
