---
import Card from '../Card.astro'
import { LINKS } from '../../lib/constants'
import { buttonVariants } from '../ui/button'
---

<Card>
  <div class="h-full">
    <header class="flex justify-start ">
      <h1 class="text-xl font-bold text-foreground">
        Let's start working together!
      </h1>
    </header>
    <div class="mt-4 flex row-auto ">
      <h2 class="text-gray-500">

        <p>nd.hung@me.com</p>
        <p>Frankfurt am Main, Germany</p>
      </address>
      <address class="mt-4 flex flex-col">
      </h2>
        <span class="flex-row mt-4">
        <a
        href="mailto:nd.hung@me.com"
        target="_blank"
        rel="noreferrer"
        class={buttonVariants({ variant: 'outline' })}
        >
        Email
      </a>
      <a
      href="https://www.linkedin.com/in/nd-hung/"
      target="_blank"
      rel="noreferrer"
      class={buttonVariants({ variant: 'outline' })}
      >
      LinkedIn
    </a>
    <a
    href="https://github.com/d-hung-nguyen"
    target="_blank"
    rel="noreferrer"
    class={buttonVariants({ variant: 'outline' })}
    >
    GitHub
  </a>
  
</span>
</div>
  </div>
</Card>
