---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { EXPERIENCE } from '../../lib/constants'
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="Experience">
  <div class="mt-2 space-y-4">
    {
      EXPERIENCE.slice(0, 6).map((exp) => (
        <div>
          <h3 class="text-lg font-semibold"> {exp.company}</h3>
          {exp.position}

          <p class="text-sm text-gray-600">
            {exp.start} - {exp.end}
          </p>
        </div>
      ))
    }
    <a href="/work">
      <Button variant="link" className="pl-0"> View More </Button>
    </a>
  </div>
</Card>
